@import "../modules/_variables";

.folderIcon-center {

}

// SZEROKOŚĆ NA GRIDZIE

.folderIcon {
  width: 5rem;
  height: 3.5rem;
  background-color: #FDF19C;
  position: relative;
  border: 1px solid black;
  box-shadow: 5px 5px 5px 0 grey;
  border-top-right-radius: 0.4rem;

  margin-top: 1rem;
  margin-left: 1rem;

  &:before {
    content:'';
    width: 2rem;
    height: 0.5rem;
    position: absolute;
    left: 1px;
    top: -10px;
    z-index: -1;
    border: 1px solid black;
    background-color: #FDF19C;
    transform: skewX(-25deg);
  }

  &:after {
    content:'';
    width: 2rem;
    height: 1rem;
    position: absolute;
    left: 10px;
    top: -10px;
    z-index: -1;
    border-right: 1px solid black;
    border-top: 1px solid black;
    box-shadow: 5px 5px 5px 0 grey;
    background-color: #FDF19C;
    transform: skewX(25deg);
  }
}