$light-blue: #298FCC;

// IKONKA APLIKACJI

.weatherAppIconPosition {
  position: absolute;
  top: 7.5rem;
  left: 1rem;
}

.weatherAppIcon {
  align-items: center;
  background-color: turquoise;
  border: 2px solid white;
  border-radius: 1rem;
  box-sizing: border-box;
  display: flex;
  font-size: 4rem;
  height: 6rem;
  justify-content: center;
  width: 5rem;

  .weatherAppIconSun {
    color: yellow;
  }
}

.weatherAppIconText {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 2rem;
  font-size: 1.25rem;
}

// APLIKACJA:

.weatherAppPosition {
  border: 0.5rem solid white;
  box-sizing: border-box;
  color: white;
  height: 40rem;
  width: 30rem;
  position: absolute;
  left: 55rem;
  top: 2rem;
}

.weatherAppInformation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  border: 0.5rem solid black;
  cursor: default;
  font-family: Arial, sans-serif;
  height: 80%;
  width: 100%;

  .weatherAppLocation {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: 0.5rem solid black;
    border-right: 0.5rem solid black;
    box-sizing: border-box;
    background-color: lighten($light-blue, 10%);
    font-size: 2rem;
    text-indent: 1rem;
    padding-bottom: 1rem;
    height: 50%;
    width: 50%;

    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0.5s;
    &:hover {
      background-color: darken($light-blue, 25%);
    }
  }

  .weatherAppMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0BB6E6;
    border-bottom: 0.5rem solid black;
    box-sizing: border-box;
    height: 50%;
    width: 50%;

    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    &:hover {
      background-color: darken(#0BB6E6, 20%);
    }

    section:first-child {
      font-size: 5rem;
      font-weight: bolder;
      margin-bottom: 2rem;
    }
  }

  .weatherAppSecondary {
    background-color: lighten($light-blue, 10%);
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    height: 50%;
    width: 100%;

    & section {
      width: 33%;

      & p:last-child {
        font-size: 1rem;
      }
    }

    .weatherPressure {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      box-sizing: border-box;
      border-right: 0.5rem solid black;

      transition-property: background-color;
      transition-duration: 1s;
      transition-timing-function: ease-out;
      &:hover {
        background-color: darken($light-blue, 20%);
      }

      p:last-child {
        padding-top: 2rem;
      }
    }

    .weatherWind {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      border-right: 0.5rem solid black;
      width: 34%;

      transition-property: background-color;
      transition-duration: 1s;
      transition-timing-function: ease-out;
      &:hover {
        background-color: darken($light-blue, 20%);
      }

      p:last-child {
        padding-top: 2rem;
      }
    }

    .weatherClouds {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      transition-property: background-color;
      transition-duration: 1s;
      transition-timing-function: ease-out;
      &:hover {
        background-color: darken($light-blue, 20%);
      }

      p:last-child {
        padding-top: 2rem;
      }
    }
  }
}

.weatherAppCloseBtnContainer {
  background-color: #0078D7;
  box-sizing: border-box;
  border-bottom: 0.5rem solid black;
  border-left: 0.5rem solid black;
  border-right: 0.5rem solid black;
  height: 20%;
  width: 100%;

  .weatherAppCloseBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bolder;
    height: 100%;
    width: 100%;
    transition-property: background-color;
    transition-duration: 3s;
    transition-timing-function: ease-out;

    &:hover {
      background-color: darkblue;
      cursor: pointer;
    }
  }
}

